# Edited 10/14/2005 new pin assigments for RAT2005E rev 2.0 pcb, removed rpc3
#
# Edited 8/30/2005 for rat2005e which swaps rpc0_rx[] with rpc1_rx[]
# Edited 1/12/2006 for rat2005e which replaces rpc_en<2> with rpc_en2
# Edited 1/18/2006 add timing constraints for GCLK2,3
#
# Start of Constraints extracted by Floorplanner from the Design
#PACE: Start of Constraints extracted by PACE from the Design
NET "dsn_io" LOC = "P64"  ;
NET "sync_mode" LOC = "P57"  ;
NET "sin" LOC = "P180"  ;
NET "tdob" LOC = "P181"  ;
NET "tdib" LOC = "P187"  ;
NET "tmsb" LOC = "P188"  ;
NET "tckb" LOC = "P189"  ;
NET "unu<11>" LOC = "P191"  ;
NET "unu<10>" LOC = "P192"  ;
NET "unu<9>" LOC = "P193"  ;
NET "unu<8>" LOC = "P194"  ;
NET "unu<7>" LOC = "P198"  ;
NET "unu<6>" LOC = "P199"  ;
NET "unu<5>" LOC = "P200"  ;
NET "unu<4>" LOC = "P201"  ;
NET "unu<3>" LOC = "P202"  ;
NET "unu<2>" LOC = "P203"  ;
NET "unu<1>" LOC = "P204"  ;
NET "unu<0>" LOC = "P205"  ;
NET "sou" LOC = "P176"  ;
NET "sla" LOC = "P178"  ;
NET "sck" LOC = "P179"  ;
NET "rpc2_rxclock" LOC = "P146"  ;
NET "rpc2_rx<15>" LOC = "P147"  ;
NET "rpc2_rx<14>" LOC = "P148"  ;
NET "rpc2_rx<13>" LOC = "P149"  ;
NET "rpc2_rx<12>" LOC = "P150"  ;
NET "rpc2_rx<11>" LOC = "P151"  ;
NET "rpc2_rx<10>" LOC = "P152"  ;
NET "rpc2_rx<9>" LOC = "P162"  ;
NET "rpc2_rx<8>" LOC = "P163"  ;
NET "rpc2_rx<7>" LOC = "P164"  ;
NET "rpc2_rx<6>" LOC = "P165"  ;
NET "rpc2_rx<5>" LOC = "P166"  ;
NET "rpc2_rx<4>" LOC = "P167"  ;
NET "rpc2_rx<3>" LOC = "P168"  ;
NET "rpc2_rx<2>" LOC = "P169"  ;
NET "rpc2_rx<1>" LOC = "P173"  ;
NET "rpc2_rx<0>" LOC = "P174"  ;
NET "rpc2_bxn<2>" LOC = "P138"  ;
NET "rpc2_bxn<1>" LOC = "P139"  ;
NET "rpc2_bxn<0>" LOC = "P140"  ;
NET "rpc0_rxclock" LOC = "P102"  ;
NET "rpc0_rx<15>" LOC = "P109"  ;
NET "rpc0_rx<14>" LOC = "P110"  ;
NET "rpc0_rx<13>" LOC = "P111"  ;
NET "rpc0_rx<12>" LOC = "P112"  ;
NET "rpc0_rx<11>" LOC = "P113"  ;
NET "rpc0_rx<10>" LOC = "P114"  ;
NET "rpc0_rx<9>" LOC = "P115"  ;
NET "rpc0_rx<8>" LOC = "P121"  ;
NET "rpc0_rx<7>" LOC = "P122"  ;
NET "rpc0_rx<6>" LOC = "P123"  ;
NET "rpc0_rx<5>" LOC = "P125"  ;
NET "rpc0_rx<4>" LOC = "P127"  ;
NET "rpc0_rx<3>" LOC = "P129"  ;
NET "rpc0_rx<2>" LOC = "P132"  ;
NET "rpc0_rx<1>" LOC = "P133"  ;
NET "rpc0_rx<0>" LOC = "P134"  ;
NET "rpc0_bxn<2>" LOC = "P99"  ;
NET "rpc0_bxn<1>" LOC = "P100"  ;
NET "rpc0_bxn<0>" LOC = "P101"  ;
NET "rpc1_rxclock" LOC = "P71"  ;
NET "rpc1_rx<15>" LOC = "P73"  ;
NET "rpc1_rx<14>" LOC = "P74"  ;
NET "rpc1_rx<13>" LOC = "P75"  ;
NET "rpc1_rx<12>" LOC = "P81"  ;
NET "rpc1_rx<11>" LOC = "P82"  ;
NET "rpc1_rx<10>" LOC = "P83"  ;
NET "rpc1_rx<9>" LOC = "P84"  ;
NET "rpc1_rx<8>" LOC = "P86"  ;
NET "rpc1_rx<7>" LOC = "P87"  ;
NET "rpc1_rx<6>" LOC = "P88"  ;
NET "rpc1_rx<5>" LOC = "P89"  ;
NET "rpc1_rx<4>" LOC = "P93"  ;
NET "rpc1_rx<3>" LOC = "P94"  ;
NET "rpc1_rx<2>" LOC = "P95"  ;
NET "rpc1_rx<1>" LOC = "P96"  ;
NET "rpc1_rx<0>" LOC = "P97"  ;
NET "rpc1_bxn<2>" LOC = "P68"  ;
NET "rpc1_bxn<1>" LOC = "P69"  ;
NET "rpc1_bxn<0>" LOC = "P70"  ;
NET "rpc_rx<37>" LOC = "P55"  ;
NET "rpc_rx<36>" LOC = "P56"  ;
NET "rpc_rx<35>" LOC = "P46"  ;
NET "rpc_rx<34>" LOC = "P47"  ;
NET "rpc_rx<33>" LOC = "P48"  ;
NET "rpc_rx<32>" LOC = "P49"  ;
NET "rpc_rx<31>" LOC = "P3"  ;
NET "rpc_rx<30>" LOC = "P4"  ;
NET "rpc_rx<29>" LOC = "P5"  ;
NET "rpc_rx<28>" LOC = "P6"  ;
NET "rpc_rx<27>" LOC = "P7"  ;
NET "rpc_rx<26>" LOC = "P8"  ;
NET "rpc_rx<25>" LOC = "P9"  ;
NET "rpc_rx<24>" LOC = "P10"  ;
NET "rpc_rx<23>" LOC = "P11"  ;
NET "rpc_rx<22>" LOC = "P15"  ;
NET "rpc_rx<21>" LOC = "P16"  ;
NET "rpc_rx<20>" LOC = "P17"  ;
NET "rpc_rx<19>" LOC = "P18"  ;
NET "rpc_rx<18>" LOC = "P20"  ;
NET "rpc_rx<17>" LOC = "P21"  ;
NET "rpc_rx<16>" LOC = "P22"  ;
NET "rpc_rx<15>" LOC = "P23"  ;
NET "rpc_rx<14>" LOC = "P24"  ;
NET "rpc_rx<13>" LOC = "P27"  ;
NET "rpc_rx<12>" LOC = "P29"  ;
NET "rpc_rx<11>" LOC = "P30"  ;
NET "rpc_rx<10>" LOC = "P31"  ;
NET "rpc_rx<9>" LOC = "P33"  ;
NET "rpc_rx<8>" LOC = "P34"  ;
NET "rpc_rx<7>" LOC = "P35"  ;
NET "rpc_rx<6>" LOC = "P36"  ;
NET "rpc_rx<5>" LOC = "P40"  ;
NET "rpc_rx<4>" LOC = "P41"  ;
NET "rpc_rx<3>" LOC = "P42"  ;
NET "rpc_rx<2>" LOC = "P43"  ;
NET "rpc_rx<1>" LOC = "P44"  ;
NET "rpc_rx<0>" LOC = "P45"  ;
NET "t_crit" LOC = "P206"  ;
NET "rpc_en2" LOC = "P175"  ;
NET "rpc_en<1>" LOC = "P98"  ;
NET "rpc_en<0>" LOC = "P136"  ;
NET "nWRITE" LOC = "P161"  ;
NET "nINIT" LOC = "P107"  ;
NET "nCS" LOC = "P160"  ;
NET "GCLK3" LOC = "P185"  ;
NET "GCLK2" LOC = "P182"  ;
NET "GCLK1" LOC = "P77"  ;
NET "GCLK0" LOC = "P80"  ;
NET "loop" LOC = "P61"  ;
NET "rpc_dsn" LOC = "P63"  ;
NET "rpc_free0" LOC = "P62"  ;
NET "D<7>" LOC = "P108"  ;
NET "D<6>" LOC = "P116"  ;
NET "D<5>" LOC = "P120"  ;
NET "D<4>" LOC = "P126"  ;
NET "D<3>" LOC = "P135"  ;
NET "D<2>" LOC = "P141"  ;
NET "D<1>" LOC = "P145"  ;
NET "D<0>" LOC = "P153"  ;
NET "posneg" LOC = "P60"  ;
NET "BUSY" LOC = "P154"  ;
NET "alct_txmon" LOC = "P59"  ;
NET "alct_rxmon" LOC = "P58"  ;

NET "GCLK0" TNM_NET = "GCLK0";
TIMESPEC "TS_GCLK0" = PERIOD "GCLK0" 20 ns HIGH 50 %;

NET "GCLK2" TNM_NET = "GCLK2";
TIMESPEC "TS_GCLK2" = PERIOD "GCLK2" 20 ns HIGH 50 %;

NET "GCLK3" TNM_NET = "GCLK3";
TIMESPEC "TS_GCLK3" = PERIOD "GCLK3" 20 ns HIGH 50 %;